{{define "content"}}
<h1>Login Page</h1>
{{if .Error}}
<div>{{ .Error }} </div>
{{end}}

<form action="/login" method="post" acceptcharset="UTF-8" class="form">

    <label for="username">Username :</label>
    <input type="text" id="username" value="{{.Username}}" required>

    <label for="password">Password :</label>
    <input type="password" id="password" value="{{.Password}}" required>

    <button type="submit"> Login </button>
</form>

<p>
    Dont have id Then register
    <a href="/register"> register here </a>
</p>

{{end}}