{{define "content"}}
<div class="page-container glass-effect fade-in">
    <h1 class="anime-title">Register</h1>

    {{with .Form}}
    {{with .Errors.Get "generic"}}
    <div style="color: var(--neon-pink); margin-bottom: 15px; text-align: center;">{{ . }} </div>
    {{end}}
    <form action="/register" method="post" acceptcharset="UTF-8" class="form">

        <div class="input-group">
            <label for="name">Name :</label>
            <input type="text" id="name" name="name" value="{{.Get " name"}}" required>
            {{with .Errors.Get "name"}}
            <div style="color: var(--neon-pink); margin-bottom: 15px; text-align: center;">{{ . }} </div>
            {{end}}
        </div>

        <div class="input-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" value="{{.Get " email"}}" required>
            {{with .Errors.Get "email"}}
            <div style="color: var(--neon-pink); margin-bottom: 15px; text-align: center;">{{ . }} </div>
            {{end}}
        </div>

        <div class="input-group">
            <label for="password">Password :</label>
            <input type="password" id="password" name="password" value="{{.Get " password"}}" required>
            {{with .Errors.Get "password"}}
            <div style="color: var(--neon-pink); margin-bottom: 15px; text-align: center;">{{ . }} </div>
            {{end}}
        </div>

        <div class="input-group">
            <label for="confirm_password">Confirm Password :</label>
            <input type="password" id="confirm_password" name="confirm_password" value="{{.Get " confirm_password"}}"
                required>
            {{with .Errors.Get "confirm_password"}}
            <div style="color: var(--neon-pink); margin-bottom: 15px; text-align: center;">{{ . }} </div>
            {{end}}
        </div>

        <div class="input-group">
            <label for="avatar">Avatar URL :</label>
            <input type="url" id="avatar" name="avatar" value="{{.Get " avatar"}}" required>
            {{with .Errors.Get "avatar"}}
            <div style="color: var(--neon-pink); margin-bottom: 15px; text-align: center;">{{ . }} </div>
            {{end}}
        </div>

        <button type="submit" class="glow-button"> Register </button>
    </form>

    {{end}}

    <p style="margin-top: 20px;">
        Already have an ID?
        <a href="/login"> Login here </a>
    </p>
</div>
{{end}}