SERVER_PORT=8080

GIN_MODE=debug

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SSLMODE=disable
DB_PORT=5439

JWT_SECRATE=aljdhladhasldaslkd
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_EXPIRES_IN=72h

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET=ecommerse-upload
AWS_S3_ENDPOINT=http://localhost:9000

UPLOAD_PATH=./upload
MAX_UPLOAD_SIZE=10485760